[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-api-python-client = "*"
opencv-python = "*"
keras = "*"
pillow = "*"
sklearn = "*"
tensorflow = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
